.c1,.c2,.c3,.c4{
    height: 10em;
    width: 10em;
    border: 02em solid black;
    display: inline-block;
    text-align: center;
}

.c1{
    background-color: aquamarine;
    border-radius: 50%;

}

.c2{
    background-color: darksalmon;
    border-radius: 20% 40%;
}

.c3{
    background-color: cyan;
    border-radius: 40% 0;
}

.c4{
    background-color: green;
    border-radius: 10% 20% 30% 40%;
}

.empty{
    border: 0.2em solid #fff;/* pour les éléments qui ne s'affichent pas*/
    color: #fff;
}

section div:nth-child(18){
    background-color: red;
}
